html {
    background-color: lightblue;
}

button.button_o,
button.button_x {
    font-size: 16px;
    padding: 15px;
    margin: 3px;
    width: 50px;
    height: 50px;
    border: 2px solid #333000
}

.button_x {
    background-color: black;
    color: yellow;
}

.button_o {
    background-color: yellow;
    color: black;
}
